<div class="row">
  <div class="col-xs-3" id="product_links">
    <h4>Favours</h4>
    <ul>
      <div class="dropdown_edibles">
        <li id="edibles">Edibles</li>
        <div class="dropdown_edibles_content">
          <%= link_to "Tea", edibles_tea_path%>
          <%= link_to "Jam", edibles_jam_path%>
          <%= link_to "Honey", edibles_honey_path%>
          <%= link_to "Bundt Cakes", edibles_cakes_path%>
          <%= link_to "Coffee", edibles_coffee_path%>
          <%= link_to "Macarons", edibles_macarons_path%>
          <%= link_to "Cookies", edibles_cookies_path%>
        </div>
      </div>
      <div class="dropdown_non_edibles">
        <li id="non-edibles">Non-Edibles</li>
        <div class="dropdown_non_edibles_content">
          <%= link_to "Fans", non_edibles_fans_path%>
          <%= link_to "Shades", non_edibles_shades_path%>
          <%= link_to "Candle", non_edibles_candle_path%>
        </div>
      </div>
    </ul>
    <h4>Invitations</h4>
    <ul>
      <li><%= link_to "Cards", invitations_cards_path, id: 'cards'%></li>
      <li><%= link_to "Envelopes", invitations_envelopes_path, id: 'envelopes'%></li>
    </ul>
  </div>
  <%= yield(:image) %>
</div>
