<!DOCTYPE html>
<html>
  <head>
    <title>Altogether</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
    <%= yield(:background)%>
    <div class="container" id=main_page>
      <%= render partial: "layouts/header" %>
      <%= render partial: "layouts/product_list" unless @disable_product_list %>
      <%= yield %>
      <%= render partial: "layouts/footer" %>

  </div>
  </body>
</html>
